import ModalContent from '@/components/ModalPopup/ModalContent';
import ModalFooter from '@/components/ModalPopup/ModalFooter';
import { useSubmit } from '@/utils/page-utils';
import { Button, Form, Input, message } from 'antd';
import React from 'react';
import { add${ClassName} } from './service';

export default function Add${ClassName}Modal() {
    const { loading, submitHandle } = useSubmit<${ClassName}>(data =>
        add${ClassName}(data).then(() => {
            message.success('新增${comments}成功');
        }),
    );

    return (
        <Form<${ClassName}>
            onFinish={submitHandle}
            labelCol={{ xs: { span: 24 }, sm: { span: 5 } }}
            wrapperCol={{ xs: { span: 24 }, sm: { span: 16 } }}
        >
            <ModalContent>
#foreach ($column in $columns)
#if(!$column.superColumn && $column.columnName != $pk.columnName)
                <Form.Item name="$column.javaField" label="$column.columnComment" rules={[{ required: true, message: '请输入$column.columnComment' }]}>
                    <Input placeholder="请输入$column.columnComment" />
                </Form.Item>
#end
#end
            </ModalContent>
            <ModalFooter>
                <Button>取消</Button>
                <Button type="primary" loading={loading} htmlType="submit">
                    确定
                </Button>
            </ModalFooter>
        </Form>
    );
}