import ModalContent from '@/components/ModalPopup/ModalContent';
import ModalFooter from '@/components/ModalPopup/ModalFooter';
import { useSubmit } from '@/utils/page-utils';
import { Button, Form, Input, message } from 'antd';
import React from 'react';
import { FormattedMessage, useIntl } from 'umi';
import { update${ClassName} } from './service';
import merge from 'lodash/merge';

export default function Update${ClassName}Modal({ model }: { model: ${ClassName}; }) {
    const intl = useIntl();
    const { loading, submitHandle } = useSubmit<${ClassName}>(data =>
        update${ClassName}(merge({}, model, data)).then(() => {
            message.success(intl.formatMessage({ id: '${ClassName}Page.updateSuccess', defaultMessage: '修改${comments}成功' }));
        }),
    );

    return (
        <Form<${ClassName}>
            onFinish={submitHandle}
            initialValues={model}
            labelCol={{ xs: { span: 24 }, sm: { span: 5 } }}
            wrapperCol={{ xs: { span: 24 }, sm: { span: 16 } }}
        >
            <ModalContent>
#foreach ($column in $columns)
#if(!$column.superColumn && $column.columnName != $pk.columnName)
                <Form.Item
                    name="$column.javaField"
                    label={<FormattedMessage id="${ClassName}.$column.javaField" defaultMessage="$column.columnComment" />}
                    rules={[
                        {
                            required: true,
                            message: intl.formatMessage({ id: '${ClassName}.$column.javaField.required', defaultMessage: '请输入$column.columnComment' })
                        }
                    ]}
                >
                    <Input placeholder={intl.formatMessage({ id: '${ClassName}.$column.javaField.required', defaultMessage: '请输入$column.columnComment' })} />
                </Form.Item>
#end
#end
            </ModalContent>
            <ModalFooter>
                <Button>
                    <FormattedMessage id="common.cancel" defaultMessage="取消" />
                </Button>
                <Button type="primary" loading={loading} htmlType="submit">
                    <FormattedMessage id="common.confirm" defaultMessage="确定" />
                </Button>
            </ModalFooter>
        </Form>
    );
}